---
/**
 * Ananda Risyad
 * 
 * Identity Card component.
 * This component displays personal information such as name, title, location, and avatar.
 * The data is sourced from the config.json file under the 'personal' section.
 */
import config from '../lib/config';
import Card from './baseline/Card.astro';
const {personal} = config;
---
    <Card isShadowed={true} direction='vertical' class="!px-0 !py-0 h-[300px]">
        <div class="group relative block h-full w-full bg-gray-800">
            <img src={personal.avatar} alt="Profile Photo" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity" />
            <div class="relative p-4 sm:p-6 lg:p-8">
                <p class="text-sm font-medium tracking-widest text-slate-200 uppercase">{personal.title}</p>

                <p class="text-xl font-bold text-white sm:text-2xl">{personal.name}</p>

                <div class="mt-48 lg:mt-42">
                    <p class="text-sm text-white">
                        {personal.location}
                    </p>
                </div>
                            
            </div>

      
        </div>
    </Card>




